PORT=5000
DB_URL=mongodb+srv://admin:admin@db.yys8nfr.mongodb.net/?appName=db
JWT_SECRET=a60ccd8672034c12790f0a7cca5cd10ff2731b0bc3c5b90c3b6e28cb6288bea36f4b0e1bec6123101fdbf8fe1f4dc4a5443fd471616b54feac06a7dfbcacf984
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,https://yourtube-elevance-internship-project-2vj0vplar-roshankumardutta.vercel.app/
CLOUDINARY_CLOUD_NAME=dh2ehywsl
CLOUDINARY_API_KEY=878927379588268
CLOUDINARY_API_SECRET=JGb9nA8uy0CuSFkXzCamiWJD-8Q
